/*:root {
    --color-main: #531064;
    --color-main-light: #e8c7f0;
    --color-main-lighter: #f9d3ff;
}*/
/*
@font-face{
    font-family: 'Ubuntu';
        src: url('../Fonts/Ubuntu-Regular.ttf') format('truetype');
}

html, body {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}*/

body{
    background-color: #531064;
}
